:root {
    --border-light: #ffffff;
    --border-dark: #454545;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    -webkit-user-drag: none;
}

*:link,
*:visited {
    color: currentColor;
    text-decoration: none;
}

html,
body,
#root {
    height: 100%;
}

body {
    background-color: #056A6A;
    font-size: 14px;
    font-family: 'ＭＳ ゴシック', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', '游ゴシック', '游ゴシック体', YuGothic,
    'Yu Gothic', 'メイリオ', Meiryo, HiraKakuProN-W3, 'TakaoExゴシック', TakaoExGothic, 'MotoyaLCedar',
    'Droid Sans Japanese', sans-serif;
    font-smooth: never;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
    image-rendering: pixelated;
    overflow: hidden;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}